<section class="text-white grid grid-cols-1 md:grid-cols-2 gap-8 max-w-7xl mx-auto my-10 px-4 py-8" id="contacto">
  <!-- Mapa de Google Maps -->
  <iframe
    id="mapa"
    class="rounded-lg shadow-lg w-full h-64 md:h-80"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.1344161892503!2d-58.37665068778469!3d-34.75220667278846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd2b4df66d7fd%3A0x1804240673ab3d2f!2sEcotape%20S.A.!5e0!3m2!1ses-419!2sar!4v1760484695477!5m2!1ses-419!2sar"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <div class="flex flex-col justify-center">
    <p>Estamos ubicados en Banfield, Buenos Aires, Argentina.</p>
    <p>Si tenés alguna consulta, no dudes en contactarnos.</p>
    <p class="mt-4">Puedes enviarnos un correo electrónico a <a class="text-amber-200 break-all" href="mailto:info@ecotape.com">ecotape@gmail.com</a>.</p>
    <p class="mt-2">También puedes llamarnos al <a class="text-amber-200" href="tel:+541123290135">+54 11 2329 0135</a>.</p>
    <p class="mt-2">O visitarnos en nuestra oficina en la siguiente dirección:</p>
    <address class="mt-2 not-italic text-amber-200">
      Lamadrid 1838, Lomas de Zamora, Provincia de Buenos Aires
    </address>
  </div>
</section>