---
import Logo from "../assets/Fotos/ecotapeLogo.png"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecotape</title>
  </head>
  <body class="font-sans">
<header class="w-full max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center p-4 md:p-6 gap-4 md:gap-0 font-bold">
  <a href="/"><img src={Logo.src} alt="Ecotape Logo" class="w-32 md:w-40 lg:w-48" /></a>
  <nav class="flex flex-col md:flex-row gap-3 md:gap-8 text-center text-white ">
    <a href="#nosotros" class="px-2 py-1  hover:bg-gray-900 hover:rounded-md ">Nosotros</a>
    <a href="/AllProductos" class="px-2 py-1  hover:bg-gray-900 hover:rounded-md">Productos</a>
    <a href="#contacto" class="px-2 py-1  hover:bg-gray-900 hover:rounded-md">Contacto</a>
  </nav>
</header>
</header>

  </body>
</html>
